@import 'colors';

body {
  background-color: $body-bg-color;
  color: $body-color;

  a {
    color: $link-color;
    &:hover {
      color: $link-color-hover;
    }
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.box-decoration {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  box-shadow: 6px 6px 0 0 black;
  padding: 16px;
  border: none;

  &::before {
    content: '';
    position: absolute;
    top: 4px;
    bottom: 4px;
    right: 4px;
    left: 4px;
    border: 2px solid $body-bg-color;
  }
}

.confirm-hr {
  border-top: 1px solid #ced5c0;
}

.confirm-button {
  background-color: #EEE;
  color: #1d0f26;
  border: none;
  box-shadow: 0 5px 0 #1d0f26;
  transition: none;

  &.btn-secondary:not(:disabled):not(.disabled):active {
    background-color: #EEE;
    color: #1d0f26;
    transform: translateY(5px);
    box-shadow: 0 0 0 #1d0f26;
  }
}
